body {
  background-color: #282c34;
  color: #f0f0f0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #36393f;
}

h1 {
  color: #61dafb;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #f0f0f0;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #555;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #444;
  color: #f0f0f0;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus {
  border-color: #61dafb;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(97, 218, 251, 0.25);
}

button {
  background-color: #61dafb;
  color: #282c34;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #21a1f1;
}

.data-table-container {
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #36393f;
}

.data-table-container h2 {
  color: #61dafb;
  margin-bottom: 20px;
}

.data-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table-container th,
.data-table-container td {
  border: 1px solid #555;
  padding: 8px;
  text-align: left;
}

.data-table-container th {
  background-color: #61dafb;
  color: #282c34;
}

.data-table-container tr:nth-child(even) {
  background-color: #3f424a;
}

.data-table-container tr:hover {
  background-color: #555;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #f0f0f0; /* Default icon color */
  margin: 0 5px;
}

.icon-button:hover {
  color: #61dafb; /* Hover color */
}

.delete-button svg {
  fill: #dc3545; /* Red color for delete icon */
}

.delete-button:hover svg {
  fill: #c82333; /* Darker red on hover */
}

.edit-button svg {
  fill: #ffc107; /* Yellow color for edit icon */
}

.edit-button:hover svg {
  fill: #e0a800; /* Darker yellow on hover */
}

.cancel-button {
  background-color: #6c757d;
  margin-left: 10px;
}

.cancel-button:hover {
  background-color: #5a6268;
}